*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: #ffb681;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.table {
    border-radius: 5px;
    font-size: 17px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table td, .table th {
    text-align: left;
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
}

.table tr:nth-child(even) {
    background: #f8f8f8;
}
.rarity-Common {
    color: #696969;
}
.rarity-Rare {
    color: #0040fd;
}
.rarity-Special {
    color: #33cccc;
}
.rarity-Epic {
    color: #6a0082;
}
.rarity-Legendary {
    color: #daa520;
}
.rarity-Relic {
    color: #d2691e;
}